---
import { hero } from '@/config.json'

interface Props {
  className?: string
}

const { className = '' } = Astro.props
---

<ul class={`flex gap-4 flex-wrap items-center justify-center lg:justify-start ${className}`}>
  {hero.socials.map((social, i) => (
    <li style={`--i: ${i}`} class="animate-social-fade-up opacity-0">
      <a
        class="relative size-9 text-white text-xl flex justify-center items-center group"
        href={social.url}
        title={social.name}
        target="_blank"
        rel="noopener noreferrer"
      >
        <span
          class="absolute inset-0 -z-1 rounded-full group-hover:scale-105 transition"
          style={`background-color: ${social.color}`}
        ></span>
        <i class={`iconfont ${social.icon}`} />
      </a>
    </li>
  ))}
</ul>

<style>
  @keyframes social-fade-up {
    from { opacity: 0; transform: translateY(40px); }
    to { opacity: 1; transform: translateY(0); }
  }
  .animate-social-fade-up {
    animation: social-fade-up 0.4s ease-out calc(var(--i) * 100ms) both;
  }
</style>
